{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/portfolio.css') }}">{% endblock %}

{% block title %}Galerie
{% endblock %}

{% block body %}

	<!-- ======= Header ======= -->
	<header id="header" class="d-flex align-items-center">
		<div class="container d-flex align-items-center">

			<div id="logo" class="me-auto">
				<a href="{{ path('app_site') }}"><img src="{{ asset('assets/img/logo2.png') }}" alt="">Les fleurs de Florofka
				</a>
				<!-- Uncomment below if you prefer to use a text image -->
				<!--<h1><a href="#hero">Bell</a></h1>-->
			</div>

			<nav id="navbar" class="navbar order-last order-lg-0">
				<ul>
					<li>
						<a class="nav-link scrollto active" href="{{ path('app_site') }}#hero">Accueil</a>
					</li>
					<li>
						<a class="nav-link scrollto" href="{{ path('app_site') }}#about">A propos</a>
					</li>
					{# <li>
						<a class="nav-link scrollto" href="#features">Features</a>
					</li> #}
					<li>
						<a class="nav-link scrollto " href="{{ path('app_site') }}#portfolio">Galerie</a>
					</li>
					<li>
						<a class="nav-link scrollto" href="{{ path('app_site') }}#contact">Contact</a>
					</li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav>
			<!-- .navbar -->

			<div class="header-social-links d-flex align-items-center">
				<a href="#" class="facebook">
					<i class="bi bi-facebook"></i>
				</a>
				<a href="#" class="instagram">
					<i class="bi bi-instagram"></i>
				</a>
				<a href="#" class="linkedin">
					<i class="bi bi-linkedin"></i>
				</i>
			</a>
		</div>
	</div>
</header>
<!-- End Header -->

<section class="portfolio" id="portfolio">
	<div class="container-fluid">
		<div class="row">

			<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1 class="gallery-title">Galerie</h1>
			</div>

            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="gallery-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam veritatis, quaerat dolorem natus fuga repudiandae libero, laborum, inventore possimus pariatur aliquam harum voluptate. Repudiandae quos ea at deleniti commodi nam!</p>
			</div>

			<div align="center">
				<button class="filter-button btn" data-filter="all">All</button>
				<button class="filter-button btn" data-filter="category1">Bouquet</button>
				<button class="filter-button btn" data-filter="category2">Composition</button>
				<button class="filter-button btn" data-filter="category3">Mariage</button>
                <button class="filter-button btn" data-filter="category4">Hommage</button>
			</div>
			
			<br/>
            <div class="galerie-container">
                {% for image in galerie %}
                {% if image.category is same as('Bouquet') %}
                    <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                        <a class="fancybox" rel="ligthbox" href="{{ asset('assets/img/galerie/' ~ image.name ) }}">
                            <img class="img-responsive" alt="" src="{{ asset('assets/img/galerie/mini/400x250-' ~ image.name ) }}" />
                            <div class='img-info'>
                                <h4>Image Title 1</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </a>
                    </div>
                {% elseif image.category is same as('Composition') %}
                    <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                        <a class="fancybox" rel="ligthbox" href="{{ asset('assets/img/galerie/' ~ image.name ) }}">
                            <img class="img-responsive" alt="" src="{{ asset('assets/img/galerie/mini/400x250-' ~ image.name ) }}" />
                            <div class='img-info'>
                                <h4>Image Title 1</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </a>
                    </div>
                {% elseif image.category is same as('Mariage') %}
                    <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                        <a class="fancybox" rel="ligthbox" href="{{ asset('assets/img/galerie/' ~ image.name ) }}">
                            <img class="img-responsive" alt="" src="{{ asset('assets/img/galerie/mini/400x250-' ~ image.name ) }}" />
                            <div class='img-info'>
                                <h4>Image Title 1</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </a>
                    </div>
                {% elseif image.category is same as('Hommage') %}
                    <div class="gallery_product col-sm-3 col-xs-6 filter category4">
                        <a class="fancybox" rel="ligthbox" href="{{ asset('assets/img/galerie/' ~ image.name ) }}">
                            <img class="img-responsive" alt="" src="{{ asset('assets/img/galerie/mini/400x250-' ~ image.name ) }}" />
                            <div class='img-info'>
                                <h4>Image Title 1</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
		</div>
	</div>
</section>
{% endblock %}
