{% extends 'base.html.twig' %}

{% block title %}GalleryPics index{% endblock %}

{% block body %}
    <h1>GalleryPics index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery_pic in gallery_pics %}
            <tr>
                <td>{{ gallery_pic.id }}</td>
                <td>{{ gallery_pic.category }}</td>
                <td>{{ gallery_pic.name }}</td>
                <td>
                    <a href="{{ path('app_gallery_pics_show', {'id': gallery_pic.id}) }}">show</a>
                    <a href="{{ path('app_gallery_pics_edit', {'id': gallery_pic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gallery_pics_new') }}">Create new</a>
{% endblock %}
