{% extends 'admin/base_admin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container">
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            {# <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr> #}
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_crud_index') }}" class="btn my-3 mx-3">back to list</a>

    <a href="{{ path('app_user_crud_edit', {'id': user.id}) }}" class="btn my-3 mx-3">edit</a>

</div>
{% endblock %}
